body {
    background: linear-gradient(-4deg, #9a4b16, #2953c6, #318660, #d5a223);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    position: absolute;
    margin: 50px;
    
    
}
#test {
    text-align: center;
    text-shadow: 0ch;
    font-style: oblique;
    background-image: url(mustafa-omar-Zkao_QBEjk8-unsplash.jpg);
}
#para1 {
    text-align: center;
    font-style: inline-flex;

}
#secndHeader {
    text-align: center;
    font-style: italic;
}
#mount {
    text-align: center;
    font-style: italic;
}

img {
    height: 70%;
    max-width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: 8;
    padding: 10px;
}
#thirdHeader {
    text-align: center;
    font-style: italic;
}
.hethi {
    text-align: center;
    z-index: 7;
    
}
.menu {
    display: inline-flex;
    margin: 20px;
}
.menu li {
    list-style: none;
    margin: 0px 20px;
    color: rgb(38, 152, 201);
    cursor: pointer;
}
#acc {
    font-style: oblique;
    color: turquoise;

}
#bnb {
    font-style: oblique;
    color: turquoise;
}
#saf {
    font-style: oblique;
    color: turquoise;
}
#fl {
    font-style: oblique;
    color: turquoise;
}